
.course-listing-page .button-group button,

.details p,
.details h5,
.news-detail h2,
.news-detail p,
 
.grid-box-wrap .grid-body h4,
.page-content .post-content p,
.page-content .courses-wrap span,
.page-content .page-article a,
.team-members .developer-wrap p,
.course-detail .course-box p,

.top-header .container,

figcaption h4
{
	font-size: 1.4rem;
}

/*Font size of 15px*/

.row .rewiew-content footer h4,
.row .rewiew-content footer h4::before,
.row .rewiew-content footer h4::after{
	font-size: 1.5rem;
}

/*Font size of 16px*/

.whyus-wrap p,
.footer-first-section .recent-course-wrap .course-name h3,
.footer-last-section .container p,

.people-info-wrap form input[type="submit"],
.about-upper-section .who-we-are p,
.about-upper-section .our-story a,
.course-detail .course-box h3,
.course-detail .course-box button,
.course-detail p{
	font-size: 1.6rem;
}

/*font size of 18px*/

.nav-menu a,
.learn-courses .learn-desining-banner,

.details h3,
.news-detail h1,

.button-section .button, .customer-review .button,
.team-members .developer-wrap h3,
#course-page aside .reserve-course input[type="submit"],
.testimonial-page aside .submit-testimonials input[type="submit"],
.row .rewiew-content header h3,
.row .rewiew-content header p,
.footer-second-section .social-list li a svg,
.contact-list li svg,
figcaption h3 
{
	font-size: 1.8rem;
}

/*font size of 20px*/

.banner .container h3,
.page-content .container aside .recent-post h2,
.navigation.pagination .page-numbers,
.contact-page-section .contact-social li a,
.testimonial-page aside .submit-testimonials h2
{
	font-size: 2rem;
}



.page-content .categories-block h2,
.comments-title,
.comment-form h2,
.course-detail h3
{
	font-size: 2.4rem;
}

/*font size of 25px*/

.featured-points ul svg,
.about-upper-section .our-story svg
{
	font-size: 2.5rem;
}


/*Font Size Of 30px*/

.page-heading .container h2,
.whyus-wrap h1,
.wrap-others-say h1,
.contact-page-section .people-info-wrap h2,
.contact-page-section .contact-info h2,
.top-heading,
#course-page .course-detail h2,
.recent-course-single h2
{
	font-size: 3rem;
}


/*================================
	Font Family
==================================*/

.top-header a,
.nav-menu a,
.banner .container,
.page-heading .container h2,

.featured-points li,
.whyus-wrap h1,
.whyus-wrap p,
.read-more-btn,
.details h3,
.details p,
.wrap-others-say h1,
.news-detail h1,
.news-detail h2,
.news-detail p,
.query-section .container p,


.about-upper-section,
.team-members .container,
#course-page,

.recent-course-single h2,
.testimonial-page .container,
.customer-review .row .rewiew-content
{
	font-family: 'Raleway', sans-serif;
}

/*================================
	Color
==================================*/

/*====Black Text Color==========*/

.page-heading .container h2,
.course-listing-page .button-group button,
.gallery-section .button-group button,
.gallery-section2 .button-group button,
.query-section .container p,
.footer-first-section .quick-contact button,
.grid-box-wrap .grid-body h1,



#course-page .course-detail h2,
.course-detail h3,
.recent-course-single h2,
.row .rewiew-content header h3,
.row .rewiew-content footer h4,
figcaption h4   
{
	color: #000;
}

/*======Black Background Color==========*/
.page-footer,
.footer-first-section .quick-contact input,
.footer-first-section .quick-contact textarea
{
	background: #000;
}


/*====White Text Color==========*/
.top-header .container a,
.learn-courses .learn-desining-banner,

.page-footer,

.page-footer .footer-second-section .social-list li a,
.footer-last-section .container p a,

.reply a,
.comment-form input[type="submit"],
.button-section .button, 
.customer-review .button,
.people-info-wrap form input[type="submit"],
.course-detail .course-box button,
#course-page aside .reserve-course input[type="submit"],
.testimonial-page aside .submit-testimonials input[type="submit"]
{
	color: #fff;
}

/*======White Background Color========*/
.sub-menu,
.nav-menu .sub-menu .sub-menu-g,
.whyus-wrap h1::after,
.event-wrap .details,
.what-other-say .wrap-others-say,
.news-detail,

.testimonial-page .submit-testimonials form .custom-file-upload 
{
	background: #fff;
}


/*======Dark BLue Color For BackGround============*/
.top-header,
.testimonial-page aside .submit-testimonials input[type="submit"]
{
	background: #1c3961;
}



