html {
	font-size: 62.5%;
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	box-sizing: border-box;

}

body {
	margin: 0;
	background: #fff;
	width: 100%;
}

a {
	background-color: transparent;
	text-decoration: none;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: .6em 1em .4em;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

.container {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
}
.container .h1{
	color: rgb(18, 18, 87) !important;
	margin-top: 10% !important;
	font-weight: 700;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 5rem;
	text-align: center;
}

.social-block {
	margin-right: 8.5rem;
	background-color: aqua !important;
}
.social-block a:hover{
	color: #040404;
	transform: scale(1.7);
}

.social-list{
	display: flex;
	font-size: 14px;
	padding-right: 25px;
}
 .social-list li {
	margin-right: 0.45em;
	margin-left: 0.125em;
	font-size: 20px;
}


/*=================Menu Navigation===============*/
.main-header{
	box-shadow: 1px 1px 10px 1px black;
	background-color: rgb(4, 4, 29);
	height:7%;
	color: white !important;
}
.main-header a{
	color: white;
}
.main-header li{
	color:white;
}
.main-header .container {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.nav-desktop {
	display: inline-block;
	padding-right: 30px;
	margin-right: 40px;
	width: 99%;
}

.nav-desktop li, .nav-desktop li a{
	font-size: 1.8rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #3a3a3a;
}

.nav-desktop li {
	padding: 1.6rem;
}

.nav-desktop ul ul {
	position: absolute;
	display: none;
	margin: 0;
}
.menu-list {
	display: flex;
	margin-top:6px;
}
.menu-list li a{
	color: white;
}
 .menu-list li{
	color: white;
}
.menu-list li:hover{
	color: gray;
}
.menu-list li a:hover{
	color: gray;
}
.menu-list button{
	margin-left:10px;
	background-color: #051b33;
	height: 6vh;
	color:white;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 10px ;
	margin-top: 6px;
}
ul > li {
	position: relative;
}

.nav-desktop .sub-menu {
	top: 100%;
	left: 0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sub-menu li:hover {
	background: rgba(0,0,0,0.12);
}

.menu-list > li > .sub-menu::before {
	position: absolute;
	content: "";
	border: 1px solid #1f4271;
	top: 0;
	width: 35%;
	left: 3%;
	cursor: pointer;
}


.menu-parent:hover > .sub-menu{
	display: block;
	z-index: 999;
	width: 20rem;
	padding-left: 0;
	text-align: left;
}

#bar, #close {
	display: none;
}

.menu-parent::after {
	content: "";
	border: solid #3a3a3a;
	
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
  	margin-left: 10px;
  	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
}

.menu-parent .menu-parent::after {
	content: "";
	border: solid #3a3a3a;
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
  	margin-left: 10px;
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
}

/*===============Banner Images===========*/
.banner {
	position: relative;
	overflow: hidden;
	margin-bottom: -40px;
}


.banner .container {
	position: absolute;
	top: 0;
	left: 9.8rem;
	right: 9.8rem;
	margin-top: 30px;
	padding: 30px;
	text-align: center;
	/*font-family: 'Raleway', sans-serif;*/
	/*color: #fff;*/
	z-index: 9;
}


.banner .container h3 {
	color: black;
	font-weight: 300;
	font-size: 20px;
	margin-top: 20px;
	font-weight: bold;
	/*font-size: 2rem;*/
}

/*==Banner Owl Carousel===*/
#owl-four-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.owl-nav{
	margin-top: -100px !important;
}


.banner .owl-nav .owl-prev, .banner .owl-nav .owl-next{
	/*font-size: 4rem;*/
	font-weight: bold;
	background: transparent;
	height: 300px;
	width: 10px;
	opacity:10%;
	font-size:40px;
	border: none;
	/*color: #fff;*/
	cursor: pointer;

}
.banner img {
	opacity: 70%; /* Cambia este valor para ajustar el nivel de opacidad */
  }
.banner #owl-four-nav {
	position: absolute;
	height: 10px;
	top: 20%;
	left: 0;
	z-index: 9;
}


.page-heading .container {
	text-align: center;
	padding-top: 8em;
	padding-bottom: 2em;
}

.page-heading .container  h2{
	font-size:40px;
	font-family:arial;
	color:rgb(83, 83, 83);
}
.latest-news{
	width: 90%;
	margin:auto;
	overflow: hidden;
	padding: 20px 0px;
}

.news-wrap {
	position: relative;
	width: 96%;
	padding: 0px 30px;
	margin-right:20px;
	margin-left:-10px;
	font-family: arial;
}

.news-detail h1{
	font-size: 22px;
}
.news-detail {
	width: 86%;
	padding: 0em 2em;
	border: 1px solid #adadad;
	box-sizing: border-box;
	position: absolute;
	background-color: #ffffff;
	margin-top:40px;
	margin-bottom: 20px;
	height: 17vh;
	top: 63%;
	left: 6%;
	/*background: #fff;*/
}
.news-detail p{
	font-size: 15px;
	margin-top:-10px;
}


.learn-courses .owl-carousel .owl-nav, .latest-news .owl-carousel .owl-nav {
	/*color:  #636363;*/
	text-align: center;
    margin-top: 2.5em;
    margin-bottom: 6.25em;
    position: relative;
}

.learn-courses .owl-carousel .owl-nav button[class*="owl-"], .latest-news .owl-carousel .owl-nav button[class*="owl-"]{
    width: 45px;
    height: 45px;
    border: 2px solid #636363;
    border-radius: 100%;
    margin-right: 40px;
    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23636363" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    text-indent: 50px;
    overflow: hidden;
}


.featured-points {
	width: 40.17%;
	padding-top: 6.25em;
}

.featured-points ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}



.read-more-btn {
	text-transform: uppercase;
	/*text-decoration: none;*/
	/*font-size: 1.8rem;*/
	/*font-family: "Raleway", sans-serif;*/
	/*color: #fff;*/
	padding: 0.7em 1.6667em 0.94em 1.6667em;
	border: 1px solid #fff;
}




/*======Event UPcomming========*/

.events-section .container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-bottom: 6.25em;
}

.event-wrap {
	width: 48.7179%;
	position: relative;
}

.event-wrap .img-wrap {
	width: 73.7%;
}

.event-wrap .details {
	width: 47.368%;
	padding: 1.25em;
	position: absolute;
	right: 0;
	top: 6.78%;
	z-index: 999;
	/*background: #fff;*/
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.details h3 {
	/*font-size: 1.8rem;*/
	/*font-family: 'Raleway:500', sans-serif;*/
	/*color: #1c3961;*/
}

.details p {
	/*font-size: 1.4rem;*/
	/*font-family: 'Raleway', sans-serif;*/
	/*color: #585858;*/
	/*margin-top: 1.7857em;*/
	margin-top: 1.4285em;
	margin-bottom: 1.4285em;
}
/*========What other say section ============*/

.what-other-say {
	background: #323e54;
}

.what-other-say .container {
	padding: 4.375em 6.25em;
	padding-bottom: 2em;
}

.what-other-say .wrap-others-say {
	/*background: #fff;*/
	width: 970px;
	text-align: center;
	padding: 1.875em 6.25em;
	padding-bottom: 0;
	margin-right: auto;
	margin-left: auto;
}

#slider .slides .rating {
	margin-left: 35%;
}

.wrap-others-say h1 {
	/*font-size: 3rem;*/
	/*font-family: 'Raleway', sans-serif;*/
	font-weight: bold;
	text-transform: uppercase;
}

.wrap-others-say .flexslider {
	margin-top: 3.75em;
}

#slider{
	margin-top: 0;
}

/*===Latest New =================*/




.testimonial-page aside .submit-testimonials {
	border: none;
	border-radius: none;
}

.submit-testimonials form span p{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 20px;
	margin-left: 5px;
}

.submit-testimonials form span .rateYo {
	display: inline-block;
}

.page-content .container aside .news-letter h2 {
	/*font-size: 2.4rem;*/
	text-align: center;
}

aside .news-letter hr {
	width: 100%;
}


.page-content .container aside .news-letter input[type="email"] {
	width: 100%;
	/*font-size: 1.6rem;*/
	padding: 1em 1.5em;
	margin-top: 1.625em;
	margin-bottom: 1.25em;
	border-radius: 5px;
}

.page-content .container aside .news-letter a {
	/*text-decoration: none;*/
	display: block;
	/*color: #fff;*/
	/*font-size: 1.6rem;*/
	text-align: center;
	/*background: #2b74b8;*/
	width: 100%;
	padding: 1.1875em;
	font-weight: bold;
	border-radius: 5px;
}

/*======Recent Posts==============*/

.page-content .container aside .recent-post {
	background: #f5f5f5;
	padding: 1.5625em;
	padding-bottom: 2.5em;
	margin-top: 3.8125em;
	margin-bottom: 4.0625em;
}

.page-content .recent-post .post {
	display: flex;
	flex: 1;
	flex-flow: column wrap;
}

.page-content .container aside .recent-post h2 {
	/*font-size: 2rem;*/
	/*color: #000;*/
	text-transform: capitalize;
	margin-bottom: 1.5em;
	margin-top: 0.25em;
}

.page-content .recent-post .post-wrap {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	margin-bottom: 1.25em;
}
.news-img-wrap img{
	height:52vh !important;
}
.page-content .post-wrap .img-wrap {
	width: 70px;
	object-fit: fill;
	overflow: hidden;
}

.page-content .post-wrap .img-wrap img{
	height: 90px;
}

.page-content .post-wrap .post-content {
	width: 250px;
	/*background: #fff;*/
	padding: 0.9375em;
}

.page-content .post-content p {
	/*font-size: 1.4rem;*/
	color: #666666;
}
/*=====follow us on==============*/

.page-content .follow-us {
	/*background: #fff;*/
	/*color: #000;*/
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	padding: 1.5625em;
	padding-bottom: 2em; 
}

.page-content .follow-us h2 {
	/*font-size: 2.4rem;*/
	text-align: left;
}

.page-content .follow-us a {
	/*font-size: 2.4rem;*/
	margin-right: 1.5em;
	/*color: #000;*/
}

/*====Lates Course=========*/

.page-content .latest-course {
	/*background: #fff;*/
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	padding: 1.5625em;
	margin-top: 2.75em;
}

.page-content .latest-course .courses-wrap {
	position: relative;
	margin-bottom: 1.75em;
}

.page-content .latest-course .courses-wrap:last-child {
	margin-bottom: 0;
}

.page-content .courses-wrap img {
	border-radius: 5px;
}

.page-content .courses-wrap span {
	position: absolute;
	/*font-size: 1.4rem;*/
	/*background: #2b74b8;*/
	padding: 5px 20px 5px 10px;
	top: 51%;
	left: 0;
	/*color: #fff;*/
}

.page-content .courses-wrap p {
	/*font-size: 1.8rem;*/
	/*color: #fff;*/
	position: absolute;
	left: 20px;
	bottom: 24px;
}
/*=======Page Number=========*/
.navigation.pagination{
	margin-top: 1.875em;
	margin-bottom: 6em;
}

.navigation.pagination .page-numbers{
	/*font-size: 2rem;*/
	/*font-family: 'Raleway', sans-serif;*/
	/*color: #5c5c5c;*/
	line-height: 15px;
	display: inline-block;
	padding: 0.25em 0.8em;
	padding-left: 0;
	text-transform: capitalize;
	/*text-decoration: none;*/
}

.navigation.pagination .page-numbers:last-child::after{
	display: none;
}

.navigation.pagination .page-numbers::after{
	content: "";
	width: 1px;
	height: 100%;
	border: 1px solid #5c5c5c;
	margin-left: 0.8em;
}



.comments-area ol{
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.comments-area, .comments-area.form{
	margin-bottom: 60px;
	background: #fafbfc;
	padding: 45px 40px;
}
.comments-area ol li{
	border-top: 1px solid #dfdfdf;
	padding: 26px 0 15px;
}
.comments-area ol ol li{
	padding-left: 50px;
}

.comments-title {
	/*font-size: 2.4rem;*/
	text-transform: uppercase;
	/*color: #000;*/
}

.comment-reply-title{
	font-size: 28px;
	line-height: 34px;
	color: #252628;
	font-weight: 600;
	margin: 0;
}
.comments-area ol ol li:first-child{
	border-top: 1px solid #dfdfdf;
	margin-top: 26px;
}
.comments-area ol li:first-child{
	border-top: 0;
}


.comments-area ol li:first-child .reply{
	margin-bottom: 26px;
}
.avatar.photo{
	float: left;
	border-radius: 50%;
	margin-right: 20px;
	border: 1px solid #dbdbdb;
}
.comment-body:after{
	content: '';
	display: block;
	clear: both;
}
.comment-body .fn a{
	font-size: 19px;
	line-height: 22px;
	color: #252628;
	font-weight: 600;
	/*text-decoration: none;*/
	margin-right: 10px;
}
.comment-body .fn a:hover{
	opacity: 0.6;
}
.comment-content{
	margin-top:0;
	float: left;
	margin-top: -44px;
	margin-left: 91px;
	margin-bottom: -18px;
}
.reply a{
	margin-top: 15px;
	margin-left:91px;
	font-size: 12px;
	line-height: 15px;
	padding:6px 15px;
	background: #005594;
	/*color: #fff;*/
	border-radius: 5px;
	text-transform: uppercase;
	/*text-decoration: none;*/
	display: inline-block;
	font-weight: 700;
}
.comment-author.vcard{
	float: left;
}
.reply a:hover{
	background: #003053;
}
.comment-meta:after{
	display: block;
	clear: both;
	content: '';
}
.comment-metadata{
	float: right;
}
.comment-metadata a{
	font-size: 14px;
	line-height: 17px;
	color: #818387;
	/*text-decoration: none;*/
}
.comment-metadata a:hover{
	opacity: 0.6;
}

.comment-form {
	width: 48.718%;
	/*font-family: 'Raleway', sans-serif;*/
}

.comment-form h2 {
	/*font-size: 2.4rem;*/
	text-transform: uppercase;
	/*color: #000;*/
}

.comment-form input[type="text"],
.comment-form input[type="email"] {
	width: 100%;
	/*font-size: 1.8rem;*/
	padding: 0.8889em;
	color: #717070;
	margin-top: 2.2223em;
}

.comment-form input[type="submit"] {
	font-size: 2.3rem;
	padding: 0.6087em 1.3913em;
}

.comment-form textarea {
	width: 100%;
	/*font-size: 1.8rem;*/
	padding: 0.8889em;
	color: #717070;
	margin-top: 2.2223em;
	height: 10.8em;
	margin-bottom: 2.2223em;
}

.comment-form p {
	/*font-size: 1.8rem;*/
	color: #717070;
	margin-top: 2.556em;
	margin-bottom: 5.556em;
}


.upcomming .container .event-wrap {
	margin-bottom: 30px;
}

.button-section {
	text-align: center;
	margin-bottom: 6.25em;
}

.button-section .button, .customer-review .button{
	display: inline-block;
	/*text-decoration: none;*/
	/*font-size: 1.8rem;*/
	/*font-family: 'Raleway', sans-serif;*/
	padding: 0.8889em 2em;
	/*background: #1c3961;*/
	/*color: #fff;*/
	text-transform: capitalize;
}

.customer-review .button {
	width: 170px;
	margin-right: auto;
	margin-left: auto;
}

/*======================
	Contact page
========================*/

.contact-page-section {
	/*font-family: 'Raleway', sans-serif;*/
}

.contact-page-section .container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 6.25em;
	padding-bottom: 6.25em;
}

.contact-page-section .people-info-wrap {
	width: 57.265%;

}

.contact-page-section .people-info-wrap h2 {
	/*font-size: 3rem;*/
	text-transform: uppercase;
	/*color: #000;*/
}

.contact-page-section .people-info-wrap p {
	/*font-size: 1.6rem;*/
	/*color: #5c5c5c;*/
	margin-top: 1.5625em;
	margin-bottom: 2.5em;
}

.contact-page-section .people-info-wrap form span {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.contact-page-section .people-info-wrap form .input- {
	/*font-size: 1.6rem;*/
	padding: 0.875em 1.5em;
}

.people-info-wrap form .name, .people-info-wrap form .email {
	width: 48%;
}

.people-info-wrap form .subject {
	margin-top: 0.9375em;
	margin-bottom: 0.9375em;
	width: 100%;
}

.people-info-wrap form textarea {
	padding-top: 1.5em !important;
	resize: none;
	height: 8em;
}

.people-info-wrap form input[type="submit"] {
	/*font-size: 1.6rem;*/
	background: #2d77bf;
	/*color: #fff;*/
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	padding-top: 1.1em;
	padding-bottom: 1.1em;
	margin-top: 1.875em;
	cursor: pointer;
}

/*====Contact Info====*/

.contact-page-section .contact-info {
	width: 370px;
}

.contact-page-section .contact-info h2 {
	/*font-size: 3rem;*/
	text-transform: uppercase;
	/*color: #000;*/
	margin-bottom: 2em;
}
.contact-page-section .contact-list {
	margin: 0;
	padding: 0;
	padding-bottom: 1.875em;
	list-style: none;
	border-bottom: 1px solid #b9c1cd;
}

.contact-page-section .contact-list li {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 3.125em;
}

.contact-page-section .contact-list li svg {
	/*color: #000;*/
	margin-top: 5px;
	margin-right: 25px;
}

.contact-page-section .contact-social {
	margin: 0;
	margin-top: 2.25em;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
}

.contact-page-section .contact-social li{
	margin-right: 1.5em;
}

.map-section {
	margin-bottom: -7px;
}

/*======================
	About page
========================*/

.about-upper-section {
	/*font-family: 'Raleway', sans-serif;*/
}

.about-upper-section .container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 5.625em;
}


.top-heading {
	/*font-size: 3rem;*/
	/*color: #000;*/
	text-transform: uppercase;
	margin-bottom: 1.1667em;
}

/*=====Our Story=====*/

.about-upper-section .our-story {
	width: 370px;
}

.about-upper-section .our-story ul {
	margin: 0;
	padding: 0;
}

.about-upper-section .our-story ul li {
	margin-bottom: 2.5em;
}

.about-upper-section .our-story svg {
	/*color: #1f4271;*/
	/*font-size: 2.5rem;*/
	margin-right: 20px;
}


.team-members .container {
	text-align: center;
	/*font-family: 'Raleway', sans-serif;*/
	padding-top: 3.75em;
	padding-bottom: 8.125em;
}

.team-members .developer-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	margin-top: 10px;
}

.team-members .developer-grid .developer-wrap {
	width: 270px;
	background: #f8f8f8;
	padding: 1.75em 3.125em;
}

.team-members .developer-grid .developer-wrap:hover {
	-webkit-box-shadow: 0px 0px 5px 4px #e1e1e1;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    0px 0px 5px 4px #e1e1e1;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         0px 0px 5px 4px #e1e1e1;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.team-members .developer-wrap img {
	width: 170px;
	height: 170px;	
	/*border-radius: 50%;*/
	border-bottom-left-radius: 50%;
 	border-bottom-right-radius: 50%;
  	border-top-right-radius: 50%;
  	border-top-left-radius: 50%;
}
.course-container button{
	padding:  16px 20px;
	z-index:999 ;
	float: right;
	cursor:pointer;
	position: relative;
	margin-top:-10px;
	color:white;
	border-radius: 12px;
	background-color: #005594 !important;
}

.team-members .developer-wrap h3 {
	/*font-size: 1.8rem;*/
	/*color: #000;*/
	margin-top: 1em;
}

.team-members .developer-wrap p {
	/*font-size: 1.4rem;*/
	/*color: #1f4271;*/
}

.team-members .developer-wrap ul {
	margin-top: 1.625em;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}


/*============================
	Course Single Page
==============================*/

#course-page {
	/*font-family: 'Raleway', sans-serif;*/
}

#course-page .container {
	padding-top: 5em;
	padding-bottom: 6.25em;
	margin-top: 0;
}

#course-page .course-detail {
	width: 77rem;
}

#course-page .course-detail h2 {
	/*font-size: 3rem;*/
	/*color: #000;*/
	text-transform: uppercase;
}

#course-page .course-detail header {
	display: flex;
	flex-flow: row wrap;
	margin-top: 2.25em;
}

.course-detail .course-box {
	width: 186px;
	text-align: center;
	border-right: 1px solid #adadad;
}

.course-detail .course-box:last-child {
	border: none;
}

.course-detail .course-box i {
	margin-bottom: 1.6rem;
	/*color: #1c3961;*/
}

.course-detail .course-box p {
	/*font-size: 1.4rem;*/
	color: #616161;
}

.course-detail .course-box h3 {
	/*font-size: 1.6rem;*/
	text-transform: capitalize;
	/*color: #1c3961;*/
}

.course-detail .course-box button {
	/*background: #1c3961;*/
	/*color: #fff;*/
	/*font-size: 1.6rem;*/
	padding: 0.875em 2em;
	border: none;
	text-transform: capitalize;
	margin-top: 1em;
	/*font-family: 'Raleway', sans-serif;	*/
	cursor: pointer;
}

.course-detail .course-intro {
	padding-top: 6.25em;
}

.course-detail h3 {
	/*font-size: 2.4rem;*/
	text-transform: capitalize;
	/*color: #000;*/
}


.course-detail .course-intro p {
	margin-top: 1.25em;
	/*margin-bottom: 2.5em;*/
}

.course-objective h3 {
	margin-top: 1.6667em;
}

.course-objective p {
	margin-top: 1rem;
	margin-bottom: 1.4rem;
}

.course-objective ul {
	padding-left: 10px;
}

.course-objective li {
	/*font-size: 1.6rem;*/
	/*color:  #646464;*/
	line-height: 2em;
}

.course-objective li:before {
	content: "";
	border: solid #000;
  	border-width: 0 2px 2px 0;
  	display: inline-block;
  	padding: 3px;
  	margin-right: 7px;
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
}

.btn-eva {
		padding: 15px 25px;
		font-size: 15px;
		text-align: center;
		background-color: #3d79b9;
		border: none;
		font-family: Arial, Helvetica, sans-serif;
		border-radius: 5px;
		text-decoration: none;
		float:right;
		margin-right: 80px;
		font-weight: bold;
		color: white !important ;

}
	.btn-eva:hover{
		color:white;
		background-color: #0e2946;

		transform: scale(1.03);
	}

#course-page .reserve-course h2,
.testimonial-page aside .submit-testimonials h2 {
	/*font-size: 2rem;*/
	font-weight: 500;
	margin-bottom: 1.25em;
}

#course-page aside .reserve-course input[type="text"],
aside .reserve-course input[type="email"],
.testimonial-page aside .submit-testimonials input[type="text"],
.testimonial-page aside .submit-testimonials input[type="email"]
{
	width: 100%;
	/*font-size: 1.4rem;*/
	padding: 1em 0.85em;
	margin-bottom: 1.43em;
}

#course-page aside .reserve-course textarea,
.testimonial-page aside .submit-testimonials textarea {
	width: 100%;
	/*font-size: 1.4rem;*/
	padding: 1.143em 1.5em;
	margin-bottom: 1.2em;
	height: 150px;
	resize: none;
}

#course-page aside .reserve-course input[type="submit"],
.testimonial-page aside .submit-testimonials input[type="submit"] {
	width: 150px;
	/*background: #1c3961;*/
	/*color: #fff;*/
	text-align: center;
	/*font-size: 1.8rem;*/
	padding-top: 0.778em;
	padding-bottom: 0.778em;
	cursor: pointer;
}

.testimonial-page aside .submit-testimonials input[type="submit"] {
	display: block;
}

/*===Trainers========*/

.post-content span a {
	margin-right: 10px;
}

.post-content span {
	display: block;
	margin-top: 8px;
}
.primer_group{
	width: 80%;
	padding: 2% 10%;
	background-color: #ffffff;
	margin: auto;
	display: flex;
}
.primer_group_text{
	padding: 30px;
	width:60%;	
}
.primer_group_text h1{
	font-size: 70px;
	color: #003053;
}
.primer_group img{
	width: 40%;
}
 .linea1{
	padding: 4px;
	position:relative;
	margin:auto;
	width:100%;
	margin-bottom: 20px;
	
}
.linea1 h1{
	position:relative;
	margin:auto;
	width:60%;
	background-color: #000000;
	height: 2px;
	margin-bottom: -30px;	
}
.modulo1{
	width: 100%;
	overflow: hidden;
}
.contenedor_sesion{
	width: 100%;
	overflow: hidden;
}
.footer2 {
	margin-top: 40px;
  }
.temario{
	color:rgb(0, 0, 0);
	padding: 20%;
	font-family: Times, serif;
	padding-top: 40px;
	font-weight: 900;
	padding-bottom: 20px;
	text-align: center;
	margin:auto;
	font-size:27px;
}
.container_sesion {
	margin-top: 20px;
	padding: 2% 5%;
	display: flex;
	width: 90%;
	margin: auto;
  }
.container_carr{
	background-color:red !important;
}
iframe{
	width: 90%;
	height: 76vh;
	border: 2px solid rgb(102, 102, 102);
}

.countdown-container {
    text-align: center;
    background: #fff;
    padding: 20px;
	margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px black !important ;
}
.curso1{
	width: 70%;
	margin-right: 30px;
}
.curso1 h2{
	margin-left: 20px;
	font-size: 27px;
}
#countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#countdown div {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

#countdown span {
    font-size: 2em;
}
.primer_group_text p{
	margin-left:10%;
	font-size:22px;
}
.post-content .fa-facebook-f {
	color: #131d9c;
}

.post-content .fa-instagram {
	color: #a506bd;
}

.post-content .fa-twitter {
	color: #11c3f6;
}

.post-content .fa-linkedin-in {
	color: #2564b2;
}

/*===Recent Courses===*/
.recent-course-single .container {
	padding-bottom: 5.3em;
}

.recent-course-single h2 {
	/*font-size: 3rem;*/
	/*color: #000;*/
	text-transform: uppercase;
	margin-bottom: 1.6em;
	font-weight: 600;
	/*font-family: 'Raleway', sans-serif;*/
}

/*==================================
	Testimonial Page
====================================*/

.testimonial-page .container {
	padding-top: 5em;
	padding-bottom: 6.25em;
	/*font-size: 'Raleway', sans-serif;*/
}

.testimonial-page .customer-review {
	display: flex;
	flex-flow: column wrap;
	width: 770px;
}

.testimonial-page .customer-review .row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-bottom: 0.875em;
	border-bottom: 1px solid #adadad;
	margin-bottom: 1.25em;
}

.testimonial-page .customer-review .row:last-of-type {
	border: none;
}

.customer-review .row .img {
	width: 171px;
	height: auto;
}

.customer-review .row .rewiew-content {
	width: 74.026%;
	/*font-family: 'Raleway', sans-serif;*/
}

.row .rewiew-content p {
	/*font-size: 1.4rem;*/
	/*color: #636363;*/
}

.row .rewiew-content header p {
	margin-top: 0.71428em;
	margin-bottom: 1.2857em;
	/*line-height: 1.8em;*/
}


.testimonial-page aside {
	width: 370px !important;
}

.testimonial-page .submit-testimonials form input[type="file"] {
	display: none;
}

.testimonial-page .submit-testimonials form .custom-file-upload {
	border: 1px solid #adadad;
	display: block;
	cursor: pointer;
	color: #888;
	/*background: #fff;*/
	width: 120px;
	padding: 6px 10px;
	/*font-size: 1.4rem;*/
	margin-bottom: 2.142em;
	margin-top: 1.429em;
}

footer{
	margin-top: -40px;
	background-color: #000000;
	width: 100%;
}
.footer-second-section{
	padding-top: 20px;
	display: flex;

}
.footer-line{
	width: 40%;
	margin-top: 20px;
	height: 0.8px;
	background-color: white;
}
.social-list li a{
	color: white;
	margin-left: 10px;
}
.footer-last-section p{
	color: white;
	text-align: center;
	font-size: 15px;
	padding-bottom: 32px;
	margin-bottom: -10px;
}
/*===========================
RESPONSIVE STYLESHEET
===========================*/

/*DISEÑO DE LOS MODULOS*/
.contenedor1 {
	display: flex;
	padding: 30px;
	width: 80%;
	padding: 2% 8%;
	color: rgb(0, 0, 0);
	margin: auto;
  }

  a:hover {
	text-decoration: none;
	color: rgb(0, 0, 0);
  }

  .sesion:hover {
	transform: scale(1.01);
  }
  .sesion {
	margin: 10px;
	padding: 30px;
	border-radius: 10px;
	margin-bottom: 30px;
	width: 100%;
	border: 1px solid black;
	box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.5);
	background-color: #1a406b;
  }

  .visualizar {
	width: 70%;
	margin-right: 40px;
  }
  .visualizar img {
	margin-bottom: 10px;
	width: 100%;
	box-shadow: 1px 1px 10px 1px black;
  }

  .title {
	font-weight: bold;
	font-size: 1.8em;
	color: white;
  }
  .details {
	font-size: 1.2em;
  }

@media screen and (max-width: 1200px) {
	
	.container {
		max-width: 800px;
	}
	#close{
		margin-left: -30px ;
		margin-top: 20px !important; 
	}
	.top-header .top-header-left {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
	}

	.top-header .top-header-left .top-header-block:last-child {
		margin-right: 1em;
	}

	.top-header .top-header-right {
		margin-left: auto;
		margin-right: auto;
	}


	.top-header-right .social-block {
		margin-right: 3em;
	}


	/*====navigation=====*/
	.menu-list {
		flex-direction: column;
	}	

	.nav-desktop {
		display: none;
		width: 250px;
	}
	.owl-nav{
		margin-left: 15%;
	}

	.owl-four owl-carousel{
		font-size: 10px;
		height: 80vh;
	}
	.nav-desktop li, .nav-desktop li a {
		font-size: 1.4rem;
	}

	.nav-desktop ul ul {
		position: static;
	}

	#bar {
		display: inline-block;
		font-size: 40px;
		cursor: pointer;
	}

	#close {
		display: none;
		font-size: 40px;
		cursor: pointer;
		color: rgb(97, 97, 97);
		position: absolute;
		margin-top: -30px;
		margin-right: 3999px;
	}

	.menu-list > li > .sub-menu::before {
		content: "";
		border: none;
	}

	.menu-parent .menu-parent::after {
		content: "";
		border: solid #3a3a3a;
	  	border-width: 0 3px 3px 0;
	  	display: inline-block;
	  	padding: 3px;
	  	margin-left: 10px;
	  	transform: rotate(45deg);
	  	-webkit-transform: rotate(45deg);
	}

	.menu-parent:hover::after,
	.menu-parent .menu-parent:hover::after {
		content: "";
		border: none;
		display: none;
	}

	/*========Banner section====*/
	.banner .container .h1 {
		font-size: 50px !important;
	}
	.banner .container h3{
		font-size: 18px !important;
	}

	/*=====Popular Courses====*/

	.learn-desining-banner {
		left: 5%;
		top: 45% !important;
		padding: 0.9375em 3.5625em 1em 3.5625em;
	}

	/*=============Upcomming Event=============*/

	.events-section .container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.event-wrap {
		margin-left: 10%;
		margin-bottom: 2em;
	}

	.event-wrap:last-child {
		margin-bottom: 0;
	}

	.event-wrap .img-wrap {
		width: 420px;
	}

	.event-wrap .details {
		width: 271px;
		left: 80%;
		top: 8%;
	}

	/*====What other say=============*/
	.what-other-say .container .wrap-others-say {
		width: 600px;
		margin-right: auto;
		margin-left: auto;
	}

	/*=====Lates New Section====*/
	.news-detail {
		top: 80% !important;
		width: 84%;
		margin: auto;
		margin-left: 10px;
	}
	.news-detail h1{
		font-size:17px;
	}
	.news-detail p{
		font-size: 12px;
		padding-bottom: 20px;
	}
	.course-container button{
		margin-top: 10px;
		width: 35%;
		margin-left:-30px;
	}

	.latest-news{
		width: 89% !important;
		padding:30px  !important;
	}
	.news-wrap{
		width: 95% !important;
		margin-right: 20px !important;
	}


	.contact-page-section .people-info-wrap{
		margin-right: auto;
		margin-left: auto;
	}

	.contact-page-section .contact-info {
		margin-top: 3em;
		margin-left: auto;
		margin-right: auto;
	}


	.about-upper-section .who-we-are {
		margin-left: auto;
		margin-right: auto;
	}

	.about-upper-section .our-story {
		margin-left: auto;
		margin-right: auto;
	}

	.team-members .developer-grid {
		grid-template-columns: repeat(2, 1fr);
		width: 570px;
	}

	/*=====================================
		Course Listing Page
	======================================*/

	.course-listing-page .button-group::after,
	.gallery-section2 .button-group::after{
		left: 16%;
	}

	.course-listing-page .grid {
		justify-content: space-between;
	}

	/*=====================================
		Course Single Page
	======================================*/

	#course-page .course-detail .course-box {
		margin-bottom: 2em;
	}

	#course-page .course-intro {
		padding-top: 3em;
	}
	
}

@media screen and (max-width: 900px) {

	.primer_group{
		width: 60%;
		margin-top: 20px;
		display: block;
	}
	#bar{
		margin-top: 22px !important;
	}
	#close{
		margin-left: -35px ;
		margin-top: 10px;
	}
	.primer_group_text{
		width: 110%;
		margin-left: -10% !important;		
		height: 18vh !important;
	}
	.primer_group_text h1{
		margin-top: -10px;
		font-size: 3pc !important;
		width: 100%;
		margin-left: -10px;
		text-align: center;
	}
	.primer_group img{
		width: 100%;
	}

	.primer_group_text p{
		display: none;
	}
	.container {
		max-width: 750px;
	}
	.visualizar{
		width: 60%;
		font-size: 12px;
		margin-left: 0px;
		margin: auto;
		padding-bottom: 10px;

		text-align: center;
	}
	.btn-eva{
		width: 30% !important;
		padding: 20px;
		height: 20px !important;
		border-radius: 9px;
		float: left;
		margin-left: 20px;
	}
	.curso1{
		width: 100%;
		padding-bottom: 30px;
	}
	.contenedor1{
		width: 85% !important;
		display: block;
		margin: auto;
	}
	.sesion{
		width: 80% !important;
		margin-left: 20px !important;
	}
	.banner .container h1{
		font-size: 20px !important;
		margin-top:-25px !important;
	}
	.banner .container h3 {
		font-size: 11px;
		margin-top:-20px !important;

	}

	.latest-news {
		width:90% !important;
	}
	.news-wrap{
		width: 90% !important;
	}
	.contenedor1{
		display: block;
		width: 90%;
		padding-left: 90px;
		margin-bottom: 10px;
	}
	.footer-line{
		display: none;
	}
	.social-list{
		margin:auto;
		margin-top:20px;
		margin-bottom: 10px;
	}
	.contenedor1 h3{
		display: none;
	}
	.sesion{
		width: 80vw;
		margin-left: -50px;
	}

	.contenedor1 img{
		position: relative;
		width: 100vw;
		display: none;
	}
	#btn-eva{
		width: 100%;
		height: 8vh;
	}
	.course-container{
		width:60%;
	}
	.course-container button{
		margin-top: 10px;
		width: 50%;
	}
	.titulo-curso1{
		margin-top: 20px;
		margin-left: 30px;
	}
	.banner{
		overflow: hidden;
		height:80%;
		position:relative;
	}
	.banner img{
		height:300px;
		opacity:70%;
	}
	.owl-four owl-carousel img{opacity: 90%;}
	
	.top-header .top-header-left {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 1em;
		margin-bottom: 0;
	}

	.top-header-left .top-header-block {
		margin: 0;
		margin-bottom: 1em;
	}

	.top-header-right {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 1em;
	}

	.top-header-right .social-block {
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 1em;
	}

	.learn-desining-banner {
		top: 50% !important;
	}

	.events-section .event-wrap {
		margin-left: 10px;
	}

	.what-other-say .container {
		padding-left: 0;
		padding-right: 0;
	}

	.what-other-say .container .wrap-others-say {
		margin-right: 0;
		margin-left: 0;
		padding-right: 1em;
		padding-left: 1em;
		width: 100%;
	}

	.page-content .container .grid-container{
		grid-template-columns: repeat(1,1fr);
		grid-gap: 30px;
	}	
 }

@media screen and (max-width: 667px) {
	.container {
		max-width: 300px;
	}
	#bar{
		margin-top: 12px !important;
	}
	#close{
		margin-top: 10px;
	}
	.top-header-right .social-list li {
		margin-right: 40px;
	}
	#btn-eva{
		padding: 10px;
		width: 88%;
		margin-left:-70px;		
	}

	.top-header-right .social-list li:nth-last-child(n+3){
		margin-bottom: 30px;
	}

	.top-header-right .social-list li svg {
		font-size: 25px;
	}

	.banner .container h1 {
		font-size: 3rem;
		margin-top: 0.5em;
		width: 80vw;
		margin-left: -40%;
	}

	.banner .container h3 {
		font-size: 1.4rem;
		width: 80vw;
		margin-left: -40%;
	}

	#owl-four-nav button {
		padding: 0;
	}


	.learn-courses .learn-desining-banner, 
	.course-listing-page .grid-item .learn-desining-banner-course, 
	.recent-course-single .grid-item .learn-desining-banner-course {
		top: 37% !important;
		left: 3%;
		padding: 10px 20px;
	}

	.events-section .event-wrap,
	.upcomming .container .event-wrap
	 {
		margin-bottom: 280px;
		margin-left: auto;
		margin-right: auto;
	}

	.events-section .event-wrap,
	.events-section .event-wrap .img-wrap 
	{
		width: 280px;
	}

	.events-section .event-wrap .details {
		left: 2%;
		top: 80%;
	}

	/*Query Section*/

	.query-section .container p a {
		display: block;
		margin: 0;
	}


	.page-content .container {
		flex-flow: row wrap;
	}

	.grid-container .grid-box-wrap {
		width: 270px;
	}


	.course-listing-page .button-group::after, 
	.gallery-section2 .button-group::after {
		width: 240px;
	}

	.course-listing-page .grid-item, 
	.recent-course-single .grid-item {
    width: 270px;
	}
}

@media screen and (max-width: 459px) {
	body{
		width: 100%;
		padding: 0px !important;
	}

	.main-header{
		width: 100%;
	}

	.news-wrap{
		margin-left:-30px !important;
		width:95% !important;
	}
	.news-wrap div{
		height: 42%;
	}
	.news-wrap img{
		height: 35vh !important;
	}
	#close{
		margin-top: -20px !important;
		margin-left: -40px !important;

	}
	.latest-news{
		width:89% !important;
		padding-right: 0px !important;
		margin:0px !important;
		margin-top: -14% !important ;
		height:60vh !important;
		margin-bottom:48% !important;
		padding-bottom: 50px !important;
	}

	.owl-nav{
		width: 80%;
		margin-top:-130px !important;
		margin-left:18% !important;
		margin-bottom: 200px !important;
	}
	.course-container .enroll-button{
		margin-top:40px !important;
	}
	.social-list{
		margin-left: 30%!important;
		width:100% !important;
	}

	.footer-second-section{
		width: 50% !important;
	}
	.banner{
		width: 100%;
	}
	.banner .container {
		width: 100%;
		margin-top: 50px;
		margin-left:-80px !important;
	}
	.banner .container .h1{
		width:100%;
		color: rgb(16, 37, 59) !important;
		font-weight:800;
		margin:auto;
		font-size:38px !important;
	}
	.banner .container h3{
		display: none;
	}
	.footer{
		width: 100%;
		margin-top:-200px;
		text-align: center;
	}
	.primer_group{
		width: 80%;
	}
	.contenedor1{
		width: 100%;
		overflow: hidden;

	}
	.visualizar{
		width: 100%;
		margin-left: -20px;
	
	}
	.visualizar h1{
		font-size: 20px;
		font-family: 'Times New Roman', Times, serif;
	}
	.curso1{
		margin: auto;
		margin-left: -20%;
		margin-bottom: -50px !important;
	}
	.curso1 h2{
		font-size: 18px;
		width: 90%;
	}
	.sesion{
		width: 70% !important;
	}
	.sesion .title{
		margin:-10px;
		font-size:17px ;
		font-family: Arial, Helvetica, sans-serif;
		
	}
	

	.temario{
		width: 80%;
		margin-left: -40px;
		font-size:22px ;
	}
	.primer_group h1{
		font-size: 30px !important;

	}
	.mean-container .mean-nav {
		box-sizing: border-box;
		width: 50%;
	}

	.mean-container .mean-nav ul li a.mean-expand {
		top: 30%;
	}

	.mean-container .mean-nav ul ,
	.nav-menu .sub-menu .sub-menu-g{
		background: #0c1923;
	}

	.nav-menu li > a {
		color: #fff;
	}

	.register-container{
		background: rgb(80, 29, 175);
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		width: 30px;
		text-align: center;
		position: relative;
	}
	.course-container {
		width: 87%;
		z-index: 3000;
		margin: auto;
		margin-top: 50px;
		text-align: right;
	}
	.sesion {
		margin: 10px;
		padding: 30px;
		border-radius: 10px;
		margin-bottom: 30px;
		width: 100%;
		border: 1px solid black;
		box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.5);
	  }
	  .btn-eva{
		font-size: 12px;
		padding-top:13px !important;
		font-family: Arial, Helvetica, sans-serif;
		width: 200px !important ;
		margin-left: 50px !important;
	  }
	  .visualizar {
		width: 70%;
		margin-right: 40px;
	  }
	 .schedule-container{
		padding: 20px;
		border-radius: 1px;
		box-shadow: 1px 1px 10px 1px  rgb(0, 0, 0);
		width: 65vw !important;
		margin-top: -50% !important;
		height:38vh !important;
	}
	
	.news-wrap{
		margin-bottom: 10px !important;
	}

	.enroll-button {
		padding-top: 15px;
		width: 50% !important;
		margin-right:22% !important;
		margin-top: 21vh !important;
	}
	
	button:hover {
		background-color: #0056b3;
	}
	.accept-schedule-button{
		width: 80% !important;
	}
	 .modal-content{
		margin-top: 50% !important;
	}
	.container_sesion{
		display: block;
		width: 100%;
	}
	.main-content_sesion{
		font-size: 22px  !important;
		width: 100%;
	}
	.main-content_sesion p{
		width: 90%;
	}
	.sidebar_sesion{
		width: 100%;
	}
	.nav_sesion{
		width: 90% ;
	}



}

.what-other-say .wrap-others-say #carousel .flex-active-slide {
    height: 220px;
    width: 150px !important;
}

#carousel .flex-active-slide .hidden {
	display: block;
}

#carousel {
	margin-bottom: 0;
}

#carousel .flex-viewport {
	overflow-y: visible !important;
}

.hidden {
	display: none;
}

/*==testimonial======*/

.what-other-say .container {
	padding-top: 60px;
	padding-bottom: 70px;
	text-align: center;
	color: #fff;
}

.what-other-say .container .owl-carousel{
	margin-top: 50px;
}



.what-other-say .container .head {
	font-size: 3.5rem;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 1.9em;
	position: relative;
}



.what-other-say .container .customer-item {
	width: 83%;
	background: #000;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

.what-other-say .container .customer-item .border {
	border: 1px solid #fff;
	padding: 34px 65px 45px 65px;
}

.what-other-say .container .customer-item .customer-img, 
.what-other-say .container .customer-item .rateYo{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.what-other-say .container .customer-item .rateYo {
	margin-top: 10px;
}

.what-other-say .container .customer-item .customer-img {
	width: 90px;
	margin-bottom: 14px;
}

.what-other-say .container .customer-item figcaption {
	font-size: 1.6rem;
}

.what-other-say .container .customer-item .customer-review {
	margin-top: 1.875em;
	font-size: 1.6rem;
}

.what-other-say .owl-theme .owl-nav {
	position: absolute;
	top: 45%;
	font-size: 2.4rem;
	color: #fff;
	width: 100%;
	margin-top: 0;
	display: flex;
	justify-content: space-between;
}


.owl-nav .owl-next{
	transform: rotate(180deg);

}


/*Nueva implementacion */
.register-container{
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30px;
    text-align: center;
	position: relative;
}
.course-container {
	width: 87%;
	z-index: 3000;
	margin: auto;
	margin-top: 50px;
	text-align: right;
}
 .schedule-container{
    background: rgb(255, 255, 255);
	z-index: 900;
	position: relative;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 1px 1px 10px 1px  rgb(0, 0, 0);
    width: 40vw;
	margin-top: -40vh;
	margin-left: 10px;
	height: 40vh;
	padding-top: 9%;
	border: 2px solid;
    text-align: center;
}

.accept-schedule-button{
	margin-top: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
    border: none;
	font-weight: 600;
	width: 30%;
	font-size: 15px;
    border-radius: 8px;
    background-color: #2768aa;
    color: white;
    cursor: pointer;
	position: relative;
}

.schedule-container h2{
	font-size: 35px ;
}
.schedule-container1 h2{
	font-size: 35px ;
}
.schedule-container p{
	font-size: 15px;
}
.schedule-container1 p{
	font-size: 15px;
}
.enroll-button {
	padding-top: 15px;
	padding-bottom: 12px;
    border: none;
	margin-right: -20px;
	font-weight: 600;
	width: 30%;
	font-size: 15px;
    border-radius: 8px;
    background-color: #2768aa;
    color: white;
    cursor: pointer;
	margin-bottom:150px !important;
	position: relative;
	overflow: hidden;
}
